@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {

/* COLORS */

/* PRIMARY COLORS */

--clr-primary-cyan: hsl(171, 66%, 44%);
--clr-primary-blue: hsl(233, 100%, 69%);

/* NEUTRAL COLORS */

--clr-neutral-grayblue-200: hsl(201, 11%, 66%);
--clr-neutral-grayblue-700: hsl(210, 10%, 33%);

/* FONTS */

  --ff-main: 'Bai Jamjuree', sans-serif;
}

/* GENERAL STYLES */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: var(--ff-main);
}

/* HERO SECTION */

.hero {
  background: url("images/bg-header-mobile.png") no-repeat;
  background-size: cover;
  text-align: center;
}

.hero__logo {
  padding-block: 6.8em 3.3em;
}

.hero__title {
  color: var(--clr-neutral-grayblue-700);
  font-size: 2rem;
  padding-block-end: 1rem;
  padding-inline: 1.6rem;
}

.hero__text {
  color: var(--clr-neutral-grayblue-200);
  font-size: 1rem;
  line-height: 1.6;
  padding-inline: 2.1rem;
  padding-block-end: 3rem;
}

.btn-holder {
  margin-block-end: 10rem;
}

.btn {
  all: unset;
  color: white;
  display: block;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 35px;
  font-weight: 600;
  width: 75%;
  cursor: pointer;
}

.btn-ios {
  background: var(--clr-primary-cyan);
  margin-block-end: 1.5rem;
  border-bottom: 3px solid hsl(171, 66%, 37%);
  box-shadow: 0 5px 15px rgba(27, 131, 115, 0.4);
  opacity: 1;
  transition: all .2s ease;
}

.btn-ios:hover {
  opacity: .8;
}

.btn-mac {
  background: var(--clr-primary-blue);
  border-bottom: 3px solid hsl(233, 63%, 59%);
  box-shadow: 0 5px 15px rgba(68, 81, 175, 0.4);
  opacity: 1;
  transition: all .2s ease;
}

.btn-mac:hover {
  opacity: .8;
}

/* SNIPPETS SECTION */

.snippets {
  margin-block-end: 10rem;
}

.snippets__title {
  padding-inline: 2rem;
  text-align: center;
  margin-block-end: 4rem;
}

.snippets__title h2 {
  color: var(--clr-neutral-grayblue-700);
  font-size: 1.75rem;
  padding-block-end: 1rem;
}

.snippets__title p {
  color: var(--clr-neutral-grayblue-200);
  font-size: 1rem;
  line-height: 1.7;
}

.options__img-holder img {
  max-width: 100%;
  height: auto;
  padding-inline: 2rem;
  margin-block-end: 3.3rem;
}

.option {
  text-align: center;
  padding-inline: 2rem;
  padding-block-end: 3rem;
}

.option h3 {
  color: var(--clr-neutral-grayblue-700);
  font-size: 1.5rem;
  padding-block-end: .6rem;
}

.option p {
  color: var(--clr-neutral-grayblue-200);
  font-size: 1rem;
  line-height: 1.7;
}

.access__img-holder img {
  max-width: 100%;
  height: auto;
}

/* FOOTER SECTION */

footer {
  background: hsla(201, 11%, 66%, .15);
  padding-block: 3rem;
  text-align: center;
}

.footer__logo {
  width: 60px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  padding-block: 3rem;
}

.footer-menu li {
  cursor: pointer;
  list-style: none;
}

.footer-menu li a,
.footer-menu li a:active {
  color: hsla(210, 10%, 33%, .9);
  text-decoration: none;
  transition: color .2s ease;
}

.footer-menu li a:hover {
  color: var(--clr-primary-cyan);
}

.social-media {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
}

.social-media a {
  color: hsla(210, 10%, 33%, .9);
}

.social-media a:hover {
  color: var(--clr-primary-cyan);
}

/* MEDIA QUERIES */

@media (min-width: 760px) {

/* HERO SECTION */

.hero {
  background: url(images/bg-header-desktop.png) no-repeat;
  background-size: cover;
}

.hero__title {
  font-size: 2.7rem;
}

.hero__text {
  width: 55%;
  font-size: 1.25rem;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  width: auto;
  padding: 1rem 2rem;
}

.btn-ios {
  margin-block-end: 0;
  margin-inline-end: 1rem;
}

/* SNIPPETS SECTION */

.snippets__title h2 {
  font-size: 2.2rem;
  padding-block-end: 1.2rem;
}

.snippets__title p {
  font-size: 1.15rem;
  width: 52%;
  margin: 0 auto;
}

.snippets__options {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.options__img-holder img {
  position: absolute;
  left: -10%;
  top: 0;
  padding-inline: 2rem;
  margin-block-end: 3.3rem;
}

.option {
  text-align: left;
}

/* FOOTER SECTION */

footer {
  display: flex;
  justify-content: space-between;
}

.footer-left {
  display: flex;
  align-items: center;
}



}